* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-weight: 400;
}

window#waybar {
  background-color: rgba(14, 17, 21, 0.5);
  color: #b3b7bd;
}

#custom-launcher {
  background: linear-gradient(90deg, #00ffb1 0%, #2798e4 80%);
  color: #0e1115;
  margin: 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 22px;
}

#workspaces {
  background-color: #171c21;
  margin: 0 6px;
  padding-bottom: 4px;
  border-radius: 15px;
}

#workspaces button {
  background-color: #2d3139;
  color: #b3b7bd;
  margin: 4px 4px 0 4px;
  padding: 4px;
  border-radius: 12px;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.focused {
  color: #171c21;
  border-bottom: none;
}

#workspaces button.active {
  background: linear-gradient(90deg, #2798e4 0%, #9554ff 80%);
  color: #171c21;
  border-bottom: none;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
  color: #f7467b;
}

#tray {
  background-color: #171c21;
  margin: 6px;
  padding: 8px 0;
  border-radius: 15px;
}

#pulseaudio {
  background: linear-gradient(90deg, #2798e4 0%, #53befc 80%);
  color: #0e1115;
  margin: 0 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#backlight {
  background: linear-gradient(90deg, #ff8a30 0%, #FFC457 80%);
  color: #0e1115;
  margin: 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#battery {
  background: linear-gradient(90deg, #1addb0 0%, #00ffb1 80%);
  color: #0e1115;
  margin: 0 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#bluetooth {
  background: linear-gradient(90deg, #2BCAFC 0%, #2bfcfc 80%);
  color: #0e1115;
  margin: 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#network {
  background: linear-gradient(90deg, #9554ff 0%, #B467F9 80%);
  color: #0e1115;
  margin: 0 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

/* .modules-left>widget>* {
  margin-left: 12px;
}

.modules-center>widget>* {
  margin-left: 12px;
  margin-right: 12px;
}

.modules-right>widget>* {
  margin-right: 12px;
} */

@keyframes blink {
  to {
    color: #b3b7bd;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  border-radius: 5px;
  background: rgba(14, 17, 21, 0.75);
}

tooltip label {
  color: #b3b7bd;
}

#clock {
  background-color: #171c21;
  color: #b3b7bd;
  margin: 6px 6px 0 6px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#custom-power {
  background: linear-gradient(90deg, #f7467b 0%, #ff62a4 80%);
  color: #0e1115;
  margin: 6px;
  padding: 2px;
  border-radius: 15px;
  font-size: 30px;
}

#taskbar {
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}

#taskbar button.active {
  border-left-color: #b3b7bd;
  border-left-width: 1px;
  padding-left: 6px;
  border-left-style: solid;
}

#taskbar button {
  border-left-color: transparent;
  border-left-width: 1px;
  border-left-style: solid;
}

#taskbar button:hover {
  background-color: rgba(45, 49, 57, 0.75);
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 6px;
}
